
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
  }
  
  #login-form {
    display: block;
  }
  
  #register-form {
    display: none;
  }
  
  .switch-form {
    margin-top: 20px;
  }
  
  .switch-form a {
    color: #4caf50;
  }
  